<h1>Danh sách nhân viên</h1>
<button (click)="openDialog(-1)">Create New</button>
<table>
  <tr>
    <td>STT</td>
    <td>Username</td>
    <td>Password</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Status</td>
    <td colspan="2">Action</td>
  </tr>
  <tr *ngFor="let employee of employees; index as i">
    <td>{{i + 1}}</td>
    <td>{{employee.username}}</td>
    <td>{{employee.password}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.status}}</td>
    <td>
      <button (click)="openDialog(employee.id)">Edit</button>
    </td>
    <td>
      <button (click)="delete(employee.id)">Delete</button>
    </td>
  </tr>
</table>