<div class="containerBody" style="background: #f6f5f7; display: flex; justify-content: center; align-items: center; flex-direction: column; font-family: 'Montserrat', sans-serif; height: 100vh; margin: -20px 0 50px;">
  <div class="container" id="container">
    <!-- <div class="form-container sign-up-container">
      <form (ngSubmit)="f.form.valid && register()" #f="ngForm">
        <h1>Create Account</h1>
        <p style="color: red">{{statusRegister}}</p>
        <input type="text" [(ngModel)]="form.username" name="username" placeholder="Username" />
        <input type="email" [(ngModel)]="form.email" name="email" placeholder="Email" />
        <input type="password" [(ngModel)]="form.newPassword" name="newPassword" placeholder="Password" id="id_password1">
        <i class="far fa-eye" id="togglePassword1" style="margin-left: 240px; cursor: pointer; margin-top: -35px"></i><br>
        <input type="password" [(ngModel)]="form.confirmPassword" name="confirmPassword" placeholder="Confirm Password" id="id_password2">
        <i class="far fa-eye" id="togglePassword2" style="margin-left: 240px; cursor: pointer; margin-top: -35px"></i><br><br>
        <button>Sign Up</button>
      </form>
    </div> -->
    <div class="form-container sign-in-container">
      <form (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <p style="color: red">{{statusLogin}}</p>
        <input type="text" [(ngModel)]="form.username" name="username" placeholder="Username" />
        <input type="password" [(ngModel)]="form.password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
        <i class="far fa-eye" id="togglePassword" style="margin-left: 240px; cursor: pointer; margin-top: -35px"></i><br>
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <!-- <button class="ghost" id="signUp">Sign Up</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
